.App {
  text-align: center;
}

.DoughnutHead{
  color: blue;
}
.BarHead{
  color:blue;
}

.test{
  color:rgba(48, 68, 36, 0.733)
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
