.App {
  text-align: center;
}

.DoughnutHead{
  color: blue;
}

.BarHead{
  color:blue;
}

.LineHead{
  color:blue;
}

.RadialHead{
  color:blue;
}

.PolarHead{
  color:blue;
}

.DynamicLineHead{
  color:blue;
}

.test{
  color:rgba(48, 68, 36, 0.733)
}

